.page{
    display: flex;
    
}
.page{
    display: flex !important;
    justify-content: center;
}
.page_main{
    padding: 20px;
    border: 1px solid red;
    margin: 5px;
    cursor: pointer;
} 
.page_main > a{
    text-decoration: none;
    cursor: pointer;
}